
<h2>TagHelper test website</h2>
<h4>Also an example of using AnchorTagHelper</h4>

<ul>
    <li>
        <a asp-controller="Home" asp-action="About">About</a>

    </li>
    <li>
        <a asp-controller="Home" asp-action="List">View Persons</a>
    </li>
    <li>
        <a asp-controller="Home" asp-action="Form">Add new Person</a>
    </li>

</ul>


