@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"

<h2>TagHelper test website</h2>
<h4>Also an example of using AnchorTagHelper</h4>

<ul>
    <li>
        <a asp-controller="Home" asp-action="About">About</a>

    </li>
    <li>
        <a asp-controller="Home" asp-action="Select">Select</a>
    </li>
</ul>


