@using TagHelperSample.Model
@model IEnumerable<Person>
@addtaghelper "CustomTagHelpers"

<h4>List of people added</h4>

<ctable asp-columns='new string[] {"Name","Email", "Birthday", "Country"}' asp-items="Model"></ctable>

@*<table>

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Country</th>
    </tr>



    @foreach (var person in Model)
    {
       <tr>
           <td>@person.Name</td>
           <td>@person.Email</td>
           <td>@person.Birthday</td>
           <td>@person.Country</td>
       </tr>
    }


</table>*@

